.customTable .ant-table-thead > tr > th {
    background-color: #232222 !important; 
    color: #f0f2f5 !important; 
}
  
.customTable .ant-table-tbody > tr > td {
    background-color: #333131 !important; 
    color: #fff !important; 
}
  
h1 {
    margin-bottom: 6%;
}

.createButton {
    margin-right: 20px;
}